---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Chip from "../components/chip.astro";
import Image from "../components/image.astro";
import Copy from "../components/copy.astro";
import IconLink from "../components/iconLink.astro";
import { Icon } from "astro-icon/components";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="max-w-5xl mx-auto px-4 py-8 text-lg text-blue-800 font-medium">
    <section>
      <h2>RizalAlfadlil | Developer Portfolio</h2>
      <hr />
      <p>
        Hello, i'm Hafidz Rizal Al-fadlil, a software developer based in
        Indonesia.
      </p>
      <p>
        I like to create web applications and explore new technologies. i have
        experience in <Chip
          name="javascript"
          icon="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
          color="orange"
        />, <Chip
          name="typescript"
          icon="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
          color="#3178c6"
        /> and <Chip
          name="php"
          icon="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg"
          color="#777bb4"
        />. languages and technologies like <Chip
          name="react"
          icon="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
          color="#61dafb"
        />,
        <Chip
          name="nextjs"
          icon="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
          color="#000000"
        />, <Chip
          name="laravel"
          icon="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg"
          color="#ff2d20"
        />, <Chip
          name="firebase"
          icon="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-plain.svg"
          color="#ff8000"
        /> and <Chip
          name="supabase"
          icon="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/supabase/supabase-original.svg"
          color="#3fcf8e"
        />.
    </section>
    <section>
      <h2>my works</h2>
      <hr />
      <p>freelance projects</p>
      <Image
        src="projectsThumbnail/fitapro.png"
        title="aplikasi penyimpanan jurnal digital Akademi Farmasi YPF"
        url="https://fitapro.akfarypf.ac.id/"
      />
      <p>academic projects</p>
      <Image
        src="projectsThumbnail/kalkulator.png"
        title="kalkulator zakat"
        url="https://kalkulator-zakat-hafidz-rizal-v2.vercel.app/"
      />
      <Image
        src="projectsThumbnail/ngopi.png"
        title="aplikasi pemesanan kopi online"
        url="https://bisa-ngopi.vercel.app/"
      />
      <Image
        src="projectsThumbnail/hotel.png"
        title="aplikasi reservasi hotel"
        url="https://github.com/rizalalfadlil/hotel-hebat"
      />
      <Image
        src="projectsThumbnail/lelang.png"
        title="aplikasi lelang online"
        url="https://github.com/rizalalfadlil/lelang-online-backend"
      />
      <Image
        src="projectsThumbnail/ujian.png"
        title="aplikasi ujian online"
        url="https://github.com/rizalalfadlil/Aplikasi"
      />
    </section>
    <hr>
    <section>
      <p>contact me
        </p>
        <div>
          <div>
            <Copy text="rizalalfadlil@gmail.com" icon="mdi:email" />
            <Copy text="62895360728429" icon="mdi:phone" />
          </div>
          <div class="mt-2">
            <IconLink
              text="https://github.com/RizalAlfadlil"
              icon="mdi:github"
            />
            <IconLink text="https://linkedin.com" icon="mdi:linkedin" />
          </div>
        </div>
      </p>
    </section>
  </main>
</Layout>
