---
let text = Astro.props.text;
let icon = Astro.props.icon || "image2.png";
---

<span
  id="button"
  data-text={text}
  onclick="const text = this.dataset.text; navigator.clipboard.writeText(text); this.querySelector('span').textContent='copied'; setTimeout(() => this.querySelector('span').textContent=text, 1000)"
  class="inline-flex gap-2 items-center text-gray-800 border border-gray-300 hover:bg-gray-100 rounded select-none cursor-pointer duration-300 transition-all p-1"
>
  <img src={icon} width="24" class="aspect-square rounded" alt="" />
  <span id="text">{text}</span>
</span>
