---
import { Icon } from "astro-icon/components";
const { text, icon } = Astro.props;
const isPhone = Number.isInteger(Number(text.replace(/\D/g, "")));
const displayText = isPhone
  ? text.replace(/(\d{2})(\d{3})(\d{4})(\d{4})/, "+$1-$2-$3-$4")
  : text;
---

<span
  id="button"
  data-text={text}
  onclick="const text = this.dataset.text; navigator.clipboard.writeText(text); this.querySelector('span').textContent='copied'; setTimeout(() => this.querySelector('span').textContent=text, 1000)"
  class="inline-flex gap-2 items-center text-blue-500 border border-blue-300 hover:bg-blue-100 rounded select-none cursor-pointer duration-300 transition-all p-1 px-2"
>
  <Icon name={icon} size={24} class="text-blue-500"/>
  <span id="text">{displayText}</span>
</span>
