---
import { Icon } from "astro-icon/components";
const { text: url, icon } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center gap-2 text-blue-800 hover:bg-blue-100 rounded select-none cursor-pointer duration-300 transition-all p-1"
>
  {icon ? (
    <Icon name={icon} size={32} class="text-blue-500" />
  ) : (
    <slot />
  )}
</a>
