<div class="w-32 p-2 space-y-2 inline-block hover:scale-105 transition-all">
  <img
    src="image.png"
    alt="aa"
    class="aspect-square object-cover object-center rounded"
  />
  <p class="text-sm text-center">image title</p>
</div>
