---
const { src, title, url } = Astro.props;
---

<a href={url} class="w-[calc(33.333%-0.5rem)] p-2 ps-3 space-y-2 inline-block hover:scale-105 transition-all"
>
  <img
    src={src}
    alt={title}
    class="aspect-video object-cover object-center rounded"
  />
  <p class="text-xs text-center text-blue-400">{title}</p>
</a>
